<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="form-group">
                <div>Select location from:</div>
                <div class="form-input">
                    <input class="form-control" ng-model="chosenFrom" googleplace/>
                </div>
            </div>
            <div class="form-group">
                <div>Select location to:</div>
                <div class="form-input">
                    <input class="form-control" ng-model="chosenTo" googleplace />
                </div>
            </div>
            <div>
                <button class="btn __other" ng-click="blade.openNewBladeTest()">
                    Show maps
                </button>
            </div>
        </div>
    </div>
</div>
